@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark {
  background-image: url("./todo-app-main/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
}

.bg-light {
  background-image: url("./todo-app-main/images/bg-desktop-light.jpg");
}

.bg-shadow {
  box-shadow: 0px 0px 20px 16px hsla(0, 0%, 0%, 0.103);
}

.bg-shadow-bg {
  background-color: #0000001a;
}
